<ion-view>
  <ion-content class="detail">

    <div class="list card" ng-repeat="item in artists | filter: {
      shortname: whichartist }" class="item-thumbnail
      item-text-wrap">
      <div class="item">
        <h1>{{item.name}}</h1>
      </div>

      <div class="item item-body">
        <div class="detail-images">
          <img class="full-image" src= "../img/{{ item.shortname }}_pic.jpg">
        </div>
        <p>{{item.reknown}}</p>
        <p>{{item.bio | limitTo: 10000}}
          {{ item.bio.length > 10000 ? '&hellip;' : '' }}
        </p>
        <p>{{ item.fair }}</p>
        <p>{{ item.cat }}</p>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Background History</h2>
      </div>

      <div class="item item-body" ng-repeat="item in artists | filter: {
      shortname: whichartist }" class="item-text-wrap">
        <div class="item item-body">
          <img class="full-image" src="../img/{{ item.shortname}}_history.jpg">
          <p>{{item.history}}</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Likes</h2>
      </div>

      <div class="item item-body" ng-repeat="item in artists | filter: {
      shortname: whichartist }" class="item-text-wrap">
        <div class="item item-body">
          <img class="full-image" src="../img/{{ item.shortname}}_Likes.jpg">
          <p>{{item.likes}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
