<ion-view hide-nav-bar="true">
  <ion-content class="home-background padding">
    <div class="timali">
      <h1 class="tagline">Tim and Ali Forman</h1>
	</div>
	<main class="main-content">
      <div class="home-image">
        <!-- <img id="main-home-image" src="../img/23crop.jpg"></img> -->
      <!-- </div> -->
      <!-- <div class="home-aside"> -->
      	<h2><figure><img class="main-home-image" src="../img/23crop.jpg"/></figure>About</h2>
        <p>This website is intended to be a hybrid of a
        personal site along with our professional portfolios. We hope
        it can be a place for friends and family to visit along with
        a place we where can continue to hone our web dev skills.
        </p>
        <h3>Slightly technical stuff</h3>
        <p>We wanted to upgrade our old website after gaining more experience
        working with web technologies, especially AngularJS. Using a 'mobile
        first' strategy we selected the Ionic framework to get started with. Being
        familiar with AngularJS helped in learning to use Ionic and while any
        framework can be a bit top-heavy we were pleased with all that can be
        done with Ionic and it's many built in features.
        </p>
        <h3>Slightly more technical</h3>
        <p>In addition to the main three (HTML, CSS, JavaScript) and Ionic the site also uses
        NodeJS and Gulp. It may seem unusual to use Ionic as the framework of a site for both
        mobile devices and desktop PCs but we found that it can easily handle both just fine.</p>
        <p>This site is hosted by MDD Hosting and Cyberduck was used for uploading via FTP.</p>
        <h3>Disclaimer</h3>
        <p>We will continue to add content and improve this site as our knowledge and
        skills improve. We apologize for any quirky behavior in the meantime.
        </p>
	  <!-- </div> -->
	</main>
  </ion-content>
</ion-view>


