<ion-view hide-nav-bar="true">
  <ion-content class="portfolio">
    <ion-list>
      <ion-item
      ng-repeat="item in artists"
      class="item item-text-wrap" href="#/tab/list/{{ item.shortname }}">
        <img class="full-image" src= "../img/{{ item.shortname }}_pic.jpg">
        <h3>{{item.name}}</h3>
        <p>{{item.reknown}}</p>
        <p>{{item.bio | limitTo: 15}}
        {{ item.bio.length > 15 ? '&hellip;' : '' }}more</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
