<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Portfolios" icon="ion-ios-people"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="US" icon="ion-ios-flag" href="#/tab/us">
	  <ion-nav-view name="us-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Philippines" icon="ion-ios-flag" href="#/tab/philippines">
	  <ion-nav-view name="philippines-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Travels" icon="ion-paper-airplane" href="#/tab/travels">
	  <ion-nav-view name="travels-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Lizzy" icon="ion-ios-paw" href="#/tab/lizzy">
  	<ion-nav-view name="lizzy-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
