<ion-view hide-nav-bar="true">
  <ion-content class="travelspic padding" ng-controller="GalleryCtrl">
    <div class="travels">
      <h1 class="tagline">Travels</h1>
    </div>

    <div class="main-images">
      <img id="main-travels-image" src="../img/hong-kongWide.jpg"></img>
    </div>
    <div class="travels-frame">
      <p>We love to travel. Generally, we try to avoid the typical tourist attractions (though not all). We're much more interested in trying to learn about the people, their culture and especially their food. Our many trips to the Philippines are not included here.</p>
      <p>We've visited ten of the fifty United States including Washington, Oregon, California, Idaho, Nevada, Utah, Arizona, Wyoming and Colorado. In Asia we've visited Hong Kong, Macau and an adjacent part of China. And, of course, a few trips to Canada. Future plans include a visit to Banff, Alberta, the rest of the US in addition to Australia and Europe.</p>
      <p>Below are pictures we took of a few places those places.</p>
    </div>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="image in travelsImages" ng-src="{{image.src}}" ng-click="showTravelsImages($index)" class="image-list-thumb"/>
      </ion-scroll>
    </a>

  </ion-content>
</ion-view>
