<ion-view hide-nav-bar="true">
  <ion-content class="travelspic padding" ng-controller="USgalleryCtrl">
    <div class="travels">
      <h1 class="tagline">Travels</h1>
    </div>

    <div>
      <img id="main-travels-image" src="../img/hong-kong.jpg"></img>
    </div>
    <div>
      <p>Since our marriage in 1996 all but 3 of those years have been spent living in the United States, primarily in the Seattle, Washington metro area. Some people wish it wasn't cloudy so often but we rarely have extreme temperatures, hot or cold. That means it's almost always a good day to go outside and you usually don't need to run heat or air conditioning all day long.</p>
      <p>The western US is very nice and offers a variety of landscapes including oceans, mountains, canyons, volcanoes, rivers, deserts, marshes and more, including the largest, oldest and tallest trees in the world. We've not traveled farther east than Wyoming or Arizona but we'll get there eventually. In the meantime, there's so much to see around here. Below are a few pictures we've taken of this beautiful region.</p>
    </div>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="image in travelsImages" ng-src="{{image.src}}" ng-click="showTravelsImages($index)" class="image-list-thumb"/>
      </ion-scroll>
    </a>

  </ion-content>
</ion-view>
