<ion-view hide-nav-bar="true">
  <ion-content class="travelspic padding" ng-controller="GalleryCtrl">
    <div class="travels">
      <h1 class="tagline">Travels</h1>
    </div>

    <div class="main-images">
      <img id="main-travels-image" src="../img/hong-kongWide.jpg"></img>
    </div>
    <div class="travels-frame">
      <p>We love to travel. Generally, we try to avoid the typical tourist attractions (though not all).Future plans include Australia and Europe.</p><p>Below are pictures of a few places we've been to so far.</p>
    </div>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="image in travelsImages" ng-src="{{image.src}}" ng-click="showTravelsImages($index)" class="image-list-thumb"/>
      </ion-scroll>
    </a>

  </ion-content>
</ion-view>
