/* Empty. Add your own CSS if you like */
h1 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: yellow;
}

h3 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.full-image {
  width: 70%;
}

.item {
  text-align: center;
}

.item > p {
  text-align: left;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 0 !important;
}

.has-tabs-top {
    top: 54px !important;
}

.timalipic {
  background: url(../img/23crop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uspic {
  background-color: #687CC0;
}

.philippinespic {
  background-color: #687CC0;
}

.travelspic {
  background-color: #687CC0;
}

.lizzypic {
  background-color: #687CC0;
}

.timali .us .philippines .travels .lizzy {
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

