/* Empty. Add your own CSS if you like */
.tabs-top > .tabs, .tabs.tabs-top {
    top: 0 !important;
}

.has-tabs-top {
    top: 54px !important;
}

.timalipic {
  background: url(../img/Ali_Forman_pic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uspic {
  background: url(../img/seattle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.philippinespic {
  background: url(../img/boracay.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.travelspic {
  background: url(../img/hong-kong.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lizzypic {
  background: url(../img/Ali_Forman_pic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.timali .us .philippines .travels .lizzy {
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
