/* Empty. Add your own CSS if you like */
h1 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: yellow;
}

h3 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.timlink {
  width: 45%;
  height: 600px;
  position: absolute;
  left: 1%;
  margin-top: 20%;
  display: block;
  z-index: 2;
}

.alilink {
  width: 45%;
  height: 600px;
  position: absolute;
  right: 1%;
  margin-top: 60%;
  display: block;
  z-index: 2;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 0 !important;
}

.has-tabs-top {
    top: 54px !important;
}

.timalipic {
  background: url(../img/23crop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uspic {
  background: url(../img/seattle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.philippinespic {
  background: url(../img/boracay.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.travelspic {
  background: url(../img/hong-kong.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lizzypic {
  background: url(../img/lizzy/Lizzy3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.timali .us .philippines .travels .lizzy {
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

