.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.item-list-detail {
  background-color: #687CC0
}

#main-us-image, #main-pi-image, #main-travels-image {
  height: 400px;
}
